@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

input,
textarea,
button,
select,
div,
a {
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none !important;
}

[data-rsbs-overlay] {
  max-width: 480px !important;
  margin: 0 auto !important;
  z-index: 999 !important;
}

[data-rsbs-backdrop] {
  z-index: 99 !important;
}
